{% extends 'base.html' %}

{% block titleBlock %}
    首页_{{ data.author.title }}
{% endblock %}

{% block listjsBlock %}
    <script type="text/javascript" src="../static/js/list.js"></script>
{% endblock %}

{% block carouselBlock %}
    <div class="picshow">
  <ul>
    <li><a href="/"><i><img src="../static/images/b01.jpg"></i>
      <div class="font">
        <h3>《早安》</h3>
      </div>
      </a></li>
    <li><a href="/"><i><img src="../static/images/b02.jpg"></i>
      <div class="font">
        <h3>《早安》</h3>
      </div>
      </a></li>
    <li><a href="/"><i><img src="../static/images/b03.jpg"></i>
      <div class="font">
        <h3>《早安》</h3>
      </div>
      </a></li>
    <li><a href="/"><i><img src="../static/images/b04.jpg"></i>
      <div class="font">
        <h3>《早安》</h3>
      </div>
      </a></li>
    <li><a href="/"><i><img src="../static/images/b05.jpg"></i>
      <div class="font">
        <h3>《早安》</h3>
      </div>
      </a></li>
  </ul>
</div>
{% endblock %}

{% block indexBlock %}
    <div class="blogs">
    </div>
{% endblock %}

{% block aboutBlock %}
    <div class="about">
      <div class="avatar"> <img src="{{ data.author.avator_url }}" alt=""> </div>
      <p class="abname">dancesmile | {{ data.author.name }}</p>
      <p class="abposition">{{ data.author.tag }}</p>
      <div class="abtext"> {{ data.author.about_me }} </div>
    </div>
{% endblock %}


